.card
{
    box-shadow: 2px 2px 15px 5px rgba(60, 61, 60, 0.3) ;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    

}
.card-content
{
    margin-bottom: 5px;
}
.card img
{
    width: 100%;
    border-radius: 30px;
    height: 200px;
    object-fit: cover;
}
.card button
{
    margin-top: auto;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(69, 42, 165);
    color:white
}